<div layout="column" flex>
  <div flex layout="row" layout-padding layout-margin class="center-screen">
    <md-content flex id="content" ng-controller="AppCtrl as ctrl">
      <h1 class="heading">DateRange component</h1>
      <mc-dates date-from="$ctrl.date1" date-to="$ctrl.date2"
                mc-change="$ctrl.changeDates(this)"></mc-dates>
      <div class="output">
        <md-input-container>
          <label>Дата 1</label>
          <input ng-model="$ctrl.date1">
        </md-input-container>
        <md-input-container>
          <label>Дата 2</label>
          <input ng-model="$ctrl.date2">
        </md-input-container>
      </div>
    </md-content>
  </div>
</div>