<div class="box-card">
	<div class="from-picker">
		<md-datepicker
			ng-model="$ctrl.dateFrom"
			md-placeholder="From date"
			ng-change="$ctrl.changed('from')"></md-datepicker>
	</div>
	<div class="to-picker">
		<md-datepicker
			ng-model="$ctrl.dateTo"
			md-placeholder="To date"
			ng-change="$ctrl.changed('to')"></md-datepicker>
	</div>
	<div class="presets">
		<md-button class="preset" ng-click="$ctrl.preset('yesterday')">Вчера</md-button>
		<md-button class="preset" ng-click="$ctrl.preset('today')">Сегодня</md-button>
		<md-button class="preset" ng-click="$ctrl.preset('2weeks')">2 недели</md-button>
		<md-button class="preset" ng-click="$ctrl.preset('month')">Месяц</md-button>
		<md-button class="preset" ng-click="$ctrl.preset('full')">Все</md-button>
	</div>
</div>