[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.from-picker,.to-picker {
  display: inline-block;
  position: relative;
  padding-top: 24px;
}
.from-picker::before,.to-picker::before {
  position: absolute;
  margin-top: -24px;
  margin-left: 18px;
  font-weight: 800;
}
.from-picker::before {
  content: 'С';
}
.to-picker::before {
  content: 'ПО'
}
.presets {
  padding-top: 4px;
}
.preset {
  font-size: 12px;
  margin: 0 0 0 12px;
  padding: 0 8px;
  min-width: 0;
}
.output {
  padding-left: 18px;
  padding-top: 24px;
}
.heading {
  padding-bottom: 20px;
}
.center-screen {
  text-align: center;
}
.box-card {
  padding: 30px 28px 30px 10px;
  border: 1px solid #EAF2FF;
  background-color: #FCFFFF;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.05);
}